* {
    margin: 0;
    padding: 0;
}

html {
    position:relative;
    min-height: 100%;
}

body {
    height:100%;
    margin-bottom: 80px;
    font-family: sans-serif;
    background: url('../bg_1.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 14px;
}


#top {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 16px;
    top: 0px;
    min-height: 40px;
}

#top-container {
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 70px;
    width: 100%;
    text-align: center;
    display: inline-block;
    background:#313131;
}

#home {
    color: #C7391E;
}

a {
    text-decoration: none;
    color: #BDB0AE;  
}

#top a {
	padding: 30px 40px;
}

a:hover{
    color: #E06B54;
}

.active{
    color: #C7391E;
}

li {
    margin: 25px 0px;
    display: inline-block;  
}



.content {
    overflow: auto;
	margin: 100px;
    padding : 70px;
	background: #FFF;
    
}

.content a {
	padding: 5px;
}

.content-title{
    padding-left: 30px;
}

.content-article{
    padding: 20px 0px 30px 0px;
}

footer{
    position: absolute;
    bottom: 0;
    min-height: 40px;
    width: 100%;
    background: #313131;
    color:#BDB0AE;
    text-align: right;
    padding-bottom: 20px;

}

footer li, footer a {
	margin: 10px;
	padding: 0;
}
footer ul {
	width: 100%;
	height: 100%;

}

#design {
	padding-right: 30px;
    background: #313131;
}

.check {
	color: green;
}
